:root {
    --primery-font:'Roboto', sans-serif;
    --acent-color:#FFFFFF;
    --title-color:#2E2F42;
    --text-color:#434455;
    --secondary-logo-color:#4D5AE5;
    --link-color:#4D5AE5;
    --background-btn-hero:#4D5AE5;
    --hover-focus-btn:#404BBF;
    --background-hero:#2E2F42;
    --backgorund-team:#F4F4FD;
    --background-footer:#2E2F42;
    --footer-text:#E7E9FC;
    --potfolio-btn-back:#E7E9FC;
    --potfolio-btn-focus-back:#404BBF;
    --potfolio-btn-color:#4D5AE5;
    --portfoli-staff-card:#E7E9FC;
    
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
body {
    font-family: var(--primery-font);
    background-color: var(--acent-color);
    color:var(--text-color);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* =========================COMPONENTS=========================*/
.logo-component {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}
.subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-color);
}
.btn-component {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.about-title-comp {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.about-text-comp {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--text-color);
}

/* =========================/COMPONENTS=========================*/


/* ==========================HEADER======================== */
.logo {  
    color: var(--title-color);
}
.logo-web { 
    color: var(--secondary-logo-color);
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.menu-link:hover,
.menu-link:focus {
    color: var(--link-color);
}
/* ==========================/HEADER======================== */

/* ==========================ADDRESS========================*/
.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.address-link:hover,
.address-link:focus {
    color:var(--link-color);
}
/* ==========================/ADDRESS========================*/

/* ==========================HERO========================*/
.hero-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--acent-color); 
}
.hero-btn {
    background-color:var(--background-btn-hero);
    color: var(--acent-color);
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hover-focus-btn);
}
.hero {
    background-color: var(--background-hero);
}
/* ==========================/HERO========================*/


/* =========================TEAM=========================*/
.team-staff {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.team-prof {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;    
    text-align: center;
    letter-spacing: 0.02em;    
    color: var(--title-color);
}
.team {
    background-color: var(--backgorund-team);
}
.team-card {
    background-color:var(--acent-color);
}
/* =========================/TEAM=========================*/


/* =========================FOOTER=========================*/

.footer-text {
    font-size: 16px;
    line-height: 1.5;    
    letter-spacing: 0.02em;    
    color: var(--footer-text);
}
.footer {
    background-color:var(--background-footer);
}
/* =========================/FOOTER=========================*/


/* =========================PORTFOLIO-NAV=========================*/
.port-btn:hover,
.port-btn:focus {
    background-color: var(--potfolio-btn-focus-back);
    color: var(--acent-color);
}
.port-btn {
    background-color: var(--backgorund-team);
    color:var(--potfolio-btn-color);
}

/* =========================/PORTFOLIO-NAV=========================*/

/* =========================PORTFOLIO-STUDIO=========================*/
.card {
    color: var(--portfoli-staff-card);
}